$text: #343434;
$background: #bbddbd;
$font: 'Merriweather', serif;

body {
    background-color: #81ae85;
}

.page {
    background-color: $background;
    font-family: $font;
    color: $text;
    border: 3px $text solid;
    width: 85%;
    display: block;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
}

.top {
    width: 92%;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 3px $text solid;
}

h1 {

    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.main {
    text-align: left;
    font-size: 20px;
    width: 90%;
    display: block;
    margin: auto;
}

h3 {
    text-align: center;
    font-size: 25px;
}

.footer {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.buttons {
    display: block;
    margin: auto;
    text-align: center;
    line-height: 35px;
}

button {
    background-color: $text;
    border: none;
    color: $background;
    font-size: 30px;
    border-radius: 10px;
}

.bar {
    border-bottom: 3px $text solid;
    width: 85%;
    display: block;
    margin: auto;
}

.small {
    font-size: 20px;
}

.contactCenter {
    text-align: center;
}

iframe {
    display: block;
    margin: auto;
}

td {
    padding: 20px;
}


.name {
    white-space: nowrap;
}

.email {
    overflow-wrap: break-word;
}

@media (max-width: 1300px) {
    .circle {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .main {
        font-size: 15px;
    }

    h3 {
        font-size: 15px;
    }

    .footer {
        font-size: 10px;
    }

    .buttons {
        line-height: 25px;
    }

    button {
        font-size: 20px;
    }

    .small {
        font-size: 10px;
    }

    iframe {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 450px) {
    iframe {
        width: 200px;
        height: 150px;
    }
}